.addOn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}
.addOn {
  border: 1px solid var(--light-color-gray);
  font-size: 1rem;
  flex: 1 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
.addOn:hover {
  border: 1px solid var(--primary-color);
}
.addOn form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}
.addOn-body {
  display: flex;
  gap: 0.1em;
  flex-direction: column;
}
.addOn-title {
  color: var(--primary-color);
  font-weight: bold;
  /* font-size: 1rem; */
}
.addOn-description {
  color: var(--color-gray);
  font-size: .8rem;
}
.addOn-payment {
  color: #463ced;
  font-size: .8rem;
}
.addOn input[type="checkbox"] {
  /* Hide the default checkbox */
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--light-color-gray);
  border-radius: 0.4em;
  cursor: pointer;
  display: grid;
  place-content: center;
}
.addOn input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  color: var(--light-color);
  font-size: 0.8rem;
  display: none;
}
.addOn input[type="checkbox"]:checked {
  background-color: #463ced;
}
.addOn input[type="checkbox"]:checked:after {
  display: block;
}
