.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.btn {
  font-size: clamp(0.8rem, 1vw, 1rem);
  background: var(--primary-color);
  color: var(--light-color);
  padding: 0.9em 1.6em;
  border-radius: 0.5em;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.goBack {
  background: transparent;
  color: var(--color-gray);
}
