:root {
  --primary-color: #002a5c;
  --color-purple: #544c97;
  --secondary-color: #bee1ff;
  --light-color: #fafafc;
  --color-gray: #9898a2;
  --light-color-blue: #f8f9ff;
  --light-color-gray: #dbdadf;
}
@font-face {
  font-family: 'Ubunto';
  src: url('/src/assets/fonts/Ubuntu-Bold.ttf') format(truetype);
  font-weight: bold;
}
@font-face {
  font-family: 'Ubunto';
  src: url('/src/assets/fonts/Ubuntu-Medium.ttf') format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: 'Ubunto';
  src: url('/src/assets/fonts/Ubuntu-Regular.ttf') format(truetype);
  font-weight: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubunto', sans-serif;
}

body {
  width: 100%;
}
input:-ms-input-placeholder,
input::-ms-input-placeholder {
  color: var(--light-color-gray);
  opacity: 0.5;
}
input::placeholder {
  color: var(--color-gray) !important;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  background-color: #eef5ff;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.error{
  text-align: right;
  color: tomato;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  #root {
    display: grid;
    place-content: center;
  }
  .app {
    width: 70vw;
    height: 50vw;
    min-height: 550px;
    min-width: 700px;
    max-width: 950px;
    max-height: 630px;
    padding: 0.8em;
    margin: 0;
  }
  .main {
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;
  }
  .main_content {
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .mobile {
    display: none;
  }
  .space {
    margin-bottom: 0;
  }
  .background-mobile {
    display: none;
  }
  .navBar {
    display: flex;
  }
  .buttons{
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1.2em;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .personal-input {
    padding: 0.8em 1em;
    margin-bottom: 1.3em;
  }
  .plans {
    flex-direction: row;
    gap: 1em;
    margin: 0;
  }
  .category {
    flex-direction: column;
    gap: 3em;
  }
  .category_body {
    gap: 0.4em;
  }
  .addOn {
    padding: 1.3em 1em;
  }
  .addOn-description {
    font-size: 0.9rem;
  }
  .total-summary {
    padding-top: 0;
  }
  .thanksPage {
    width: 70%;
    height: 100%;
  }
  .goBack {
    padding: 0;
  }
}
