.steps {
  margin-left: 30%;
}
.navBar {
  width: 35vw;
  max-width: 300px;
  border-radius: .7em;
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
  padding-top: 1.5rem;
}
.navBar ol {
  width: 100%;
  list-style: none;
  counter-reset: desktop;
  padding: 1em;
}
.navBar li {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.405);
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: normal;
}
.navLink {
  position: relative;
  color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
}
.navLink::before {
  content: counter(desktop);
  counter-increment: desktop;
  position: absolute;
  color: var(--light-color);
  font-size: clamp(0.8rem, 1vw, 1.12rem);
  font-weight: 600;
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--light-color);
  display: grid;
  place-content: center;
  left: -3.2rem;
  top: -20px;
}
.active {
  position: relative;
}
.active::before {
  content: counter(desktop);
  counter-increment: desktop;
  position: absolute;
  color: var(--primary-color);
  font-size: clamp(0.8rem, 1vw, 1.12rem);
  font-weight: 600;
  background-color: var(--secondary-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--light-color);
  display: grid;
  place-content: center;
  left: -3.2rem;
  top: -20px;
}

/* Navlink mobile */
.mobile {
  display: flex;
  gap: 1em;
  margin-top: 8%;
}
.background-mobile{
  position: absolute;
  width: 100%;
  top: 0;
}
.navLink_mobile {
  width: 35px;
  height: 35px;
  border: 1px solid var(--light-color);
  color: var(--light-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  text-decoration: none;
  font-weight: 600;
  z-index: 2;
}
.active_mobile {
  width: 35px;
  height: 35px;
  border: 1px solid var(--light-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  text-decoration: none;
  font-weight: 600;
  z-index: 2;
}

