.steps {
  margin-left: 5vmin;
}
.navBar {
  width: 30%;
  max-width: 250px;
  border-radius: 1em;
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  /* justify-content: center; */
  padding-top: 2.5em;
  padding-left: 3vw;
}
.navBar ol {
  list-style: none;
  counter-reset: desktop;
}
.navBar li {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-bottom: 1.5em;
  color: var(--secondary-color);
  font-size: clamp(0.7rem, 1vw, .9rem);
}
.navLink {
  position: relative;
  color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
}
.navLink::before {
  content: counter(desktop);
  counter-increment: desktop;
  position: absolute;
  color: var(--light-color);
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 600;
  background-color: transparent;
  width: 3vw;
  height: 3vw;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  border: 1px solid var(--light-color);
  display: grid;
  place-content: center;
  left: -3.654em;
  top: -20px;
}
.mobile {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 27vh;
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 82%;
  background-size: cover;
  justify-content: center;
  padding-top: 5em;
  z-index: 1;
}
.mobile ol {
  list-style: none;
  counter-reset: mobile;
  display: flex;
  gap: 3.5em;
}
.navLink_mobile {
  position: relative;
  color: var(--light-color);
  font-weight: 600;
  text-decoration: none;
}
.navLink_mobile::before {
  content: counter(mobile);
  counter-increment: mobile;
  position: absolute;
  color: var(--light-color);
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  display: grid;
  place-content: center;
  left: -5vw;
  top: -50px;
}

.active {
  position: relative;
}
.active::before {
  content: counter(desktop);
  counter-increment: desktop;
  position: absolute;
  color: var(--primary-color);
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 600;
  background-color: var(--secondary-color);
  width: 3vw;
  height: 3vw;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  border: 1px solid var(--light-color);
  display: grid;
  place-content: center;
  left: -3.654em;
  top: -20px;
}
