.personal-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.personal-form label {
  font-size: 0.95rem;
}
.personal-input {
  width: 100%;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 0.4em;
  outline: none;
  border: 1px solid var(--light-color-gray);
  padding: 0.6em 1em;
  margin-bottom: 1em;
  margin-top: 0.3em;
}
.errorBorder {
  outline: none;
  border: 1px solid tomato;
}
.noErrors {
  outline: none;
  border: 1px solid limegreen;
}

.personal-input:focus,
.personal-input:focus-visible,
.personal-input:focus-within {
  outline: 1.5px solid var(--primary-color);
}

.personalInfoError {
  position: relative;
  top: -85px;
}
