.plans {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.category {
  border: 1px solid var(--light-color-gray);
  outline: none;
  display: flex;
  gap: 1em;
  flex: 1 1 0;
  padding: 1.2em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
.category:hover {
  border: 1px solid var(--color-purple) !important;
}
.category_body {
  display: grid;
  gap: 0.3vw;
}
.category_body h4 {
  font-weight: bold;
}
.category_body p {
  font-size: 0.95rem;
}
.blue {
  color: var(--primary-color) !important;
  font-weight: normal;
  font-size: 0.95rem;
}
.payment {
  color: var(--color-gray);
}