.plans {
  display: flex;
  gap: .8em;
  margin: 2em 0;
}
.category {
  border: 1px solid var(--light-color-gray);
  flex: 1 0 0;
  padding: 1em;
  border-radius: 0.5em;
  display: grid;
  gap: 2.7vw;
  cursor: pointer;
}
.category:hover{
  border: 1px solid var(--primary-color) !important;
}
.category_body {
  display: grid;
  gap: 0.3vw;
}
.category_body h4 {
  font-weight: bold;
}
.blue {
  color: var(--primary-color) !important;
  font-weight: normal;
}
.payment{
  color: var(--color-gray);
}