.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.254em;
}
.app {
  width: 93%;
  padding: 1.8em 1.5em;
  display: flex;
  gap: 1em;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: 15px 15px 15px 5px rgba(0, 0, 0, 0.09);
  margin-bottom: 35%;
  z-index: 20;
}
.app img {
  display: block;
  width: 40px;
}
.main {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;  
}
.main_content {
  width: 100%;
  padding: 0;
  color: var(--primary-color);
  /* animation: leftAnimation 0.5s ease-in-out; */
  /* animation: mainAnimation 0.5s ease-in-out; */
}
.main_content h2 {
  font-size: clamp(1.58rem, 2.5vw, 2rem);
  margin-bottom: .3em;
}
.space {
  color: var(--color-gray);
  margin-bottom: 1.5em;
  font-size: .95rem;
  line-height: 23px;
}
