.thanksPage {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    
}
.thanksPage img{
    display: block;
    width: 75px;
    margin-bottom: 1em;
}
.thanksPage p{
    color: var(--color-gray);
}